.hero-banner{
    height:80vh;

    background-image:
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.55)
        ),
        url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-banner h1{
    font-weight:700;
}

.hero-banner p{
    max-width:700px;
    margin:auto;
}