:root{

    --primary-green:#0F5E4B;
    --dark-green:#083D31;
    --gold:#C9A227;
    --light-gold:#E8D8A8;
    --background:#F8F7F3;
    --white:#FFFFFF;
    --text:#2C2C2C;

}

body{

    background:var(--background);

    color:var(--text);

    font-family:"Poppins",sans-serif;

}

a{

    text-decoration:none;

}

button{

    transition:.3s;

}

